@font-face {
  font-family: textFont;
  src: url('https://static.tumblr.com/9ckjyzo/xa0oiaf8a/franklin_gothic_demi_cond_regular.ttf');
}

@font-face {
  font-family: logoFont;
  src: url('https://static.tumblr.com/9ckjyzo/3qDoiaf7i/starjhol.ttf');
}

body {
  font-family: 'Droid Sans';
  color: yellow;
  background-color: black
}